<a href="https://colab.research.google.com/github/GeorgeM2000/Sports-Activity/blob/main/Sports_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

# Data Preprocessing

In [4]:
# Read excel file data
sport_data = pd.read_excel('Results_Saferun_2023_04_26_2_submit_With_Page.xlsx')

# Store it as csv file
sport_data.to_csv('Results_Saferun_2023_04_26_2_submit_With_Page.csv', index=False)

# Read csv file data
sport_data = pd.DataFrame(pd.read_csv('Results_Saferun_2023_04_26_2_submit_With_Page.csv'))

In [5]:
sport_data.head()

,Weight,Height,Gender,Age,Running experience (years),"1) Do you feel any musculoskeletal discomfort (e.g pain, tightness, heaviness) related to your running activity?",2) Είδος πόνου,"IF YES, in which area of the body do you feel the symptom?",Pain intensity;,The symptom starts,The symptom lasts,pain intensity is,Does the symptom affect running?,Does the symptom affect everyday life?,"Does the symptom affect every day functional activities e.g walking, ascending or descending stairs ?",Page
0,84,176,Male,45,3.0,Yes,NaN,Calf,a,a,a,a,a,a,a,5
1,85,176,Male,45,4.0,Yes,NaN,Sole,a,a,a,a,a,a,a,5
2,25,154,Female,45,5.0,Yes,NaN,Knee,c,b,c,b,b,a,a,5
3,55,176,Male,38,9.0,Yes,NaN,Knee,c,c,b,b,c,a,b,5
4,56,170,Female,51,2.0,Yes,NaN,Hip,b,b,b,c,a,b,b,3

Column "2) Είδος πόνου" has null values for every row of the dataset so i remove it. Also, i rename some of the columns of the dataset in order to have a more concise form of the dataframe.

In [6]:
sport_data.drop(columns={'2) Είδος πόνου'}, inplace=True)

In [8]:
sport_data.rename(
    columns={'1) Do you feel any musculoskeletal discomfort (e.g pain, tightness, heaviness) related to your running activity?': 'Musculoskeletal discomfort',
             'IF YES, in which area of the body do you feel the symptom?': 'Symptom area',
             'Pain intensity;': 'Pain intensity',
             'Running experience (years)': 'Experience',
             'The symptom starts': 'Irritability(WHEN)',
             'The symptom lasts': 'Irritability(DURATION)',
             'pain intensity is': 'Irritability(INTENSITY)',
             'Does the symptom affect running?': 'Severity(RUNNING)',
             'Does the symptom affect everyday life?': 'Severity(LIFE)',
             'Does the symptom affect every day functional activities e.g walking, ascending or descending stairs ?': 'Severity(MOBILITY)'
             },
    inplace=True)

In [9]:
sport_data.head()

,Weight,Height,Gender,Age,Experience,Musculoskeletal discomfort,Symptom area,Pain intensity,Irritability(WHEN),Irritability(DURATION),Irritability(INTENSITY),Severity(RUNNING),Severity(LIFE),Severity(MOBILITY),Page
0,84,176,Male,45,3.0,Yes,Calf,a,a,a,a,a,a,a,5
1,85,176,Male,45,4.0,Yes,Sole,a,a,a,a,a,a,a,5
2,25,154,Female,45,5.0,Yes,Knee,c,b,c,b,b,a,a,5
3,55,176,Male,38,9.0,Yes,Knee,c,c,b,b,c,a,b,5
4,56,170,Female,51,2.0,Yes,Hip,b,b,b,c,a,b,b,3

In [10]:
sport_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Weight                      84 non-null     int64
 1   Height                      84 non-null     int64
 2   Gender                      84 non-null     object
 3   Age                         84 non-null     int64
 4   Experience                  81 non-null     float64
 5   Musculoskeletal discomfort  83 non-null     object
 6   Symptom area                84 non-null     object
 7   Pain intensity              84 non-null     object
 8   Irritability(WHEN)          84 non-null     object
 9   Irritability(DURATION)      84 non-null     object
 10  Irritability(INTENSITY)     84 non-null     object
 11  Severity(RUNNING)           84 non-null     object
 12  Severity(LIFE)              84 non-null     object
 13  Severity(MOBILITY)          84 non-null     object
 14  Page                        84 non-null     int64
dtypes: float64(1), int64(4), object(10)
memory usage: 10.0+ KB

In [11]:
pd.DataFrame(sport_data.isnull().sum(), columns=["No. Missing Values"])

                            No. Missing Values
Weight                                       0
Height                                       0
Gender                                       0
Age                                          0
Experience                                   3
Musculoskeletal discomfort                   1
Symptom area                                 0
Pain intensity                               0
Irritability(WHEN)                           0
Irritability(DURATION)                       0
Irritability(INTENSITY)                      0
Severity(RUNNING)                            0
Severity(LIFE)                               0
Severity(MOBILITY)                           0
Page                                         0

I have to convert the nominal variables to numerical variables.

In [13]:
# Copy the initial dataframe to a dataframe that will be used for classification.
sport_data_classification = sport_data.copy()

In [ ]:
gender_values = {'Male': 1, 'Female': 0}
symptom_area_values = {''}

In [14]:
sport_data_classification['Gender'] = [gender_values[sport_data_classification['Gender'][row]] for row in sport_data_classification.shape[0]]

0       Male
1       Male
2     Female
3       Male
4     Female
       ...
79      Male
80      Male
81      Male
82      Male
83      Male
Name: Gender, Length: 84, dtype: object

# Classification